.events-container {
  position: relative;
}
.heading h1 {
  font-size: 7rem;
  font-weight: 900;
  margin-top: 3rem;
  margin-left: 20rem;
}

.card-container {
  padding-top: 2%;
  background-color: #061125;
  height: 100vh;
  width: calc(100vw - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  right: 0;

  height: auto;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #061125;
  border-radius: 10px;
}
.card {
  width: 550px;
  height: 255px;
  border-radius: 16px;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  margin: 2rem 1.5rem;
}

.card:nth-child(3) {
  width: 400px;
  height: 255px;
  border-radius: 10px;
}
.card:nth-child(4) {
  width: 400px;
  height: 255px;
  border-radius: 10px;
}
.card:nth-child(5) {
  width: 400px;
  height: 255px;
  border-radius: 10px;
}

.face2 {
  position: absolute;
  height: 100%;
  border-radius: 16px;
  top: 0;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.6s linear;
  background: rgba(19, 35, 61, 1);
  color: aliceblue;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.65);
}
.card:nth-child(1) > .face2 {
  background: rgba(0, 43, 46, 1);
}
.card:nth-child(2) > .face2 {
  background: #6b2f00;
}
.card:nth-child(3) > .face2 {
  background: #18063f;
}
.card:nth-child(4) > .face2 {
  background: #08325a;
}
.card:nth-child(5) > .face2 {
  background: #133d26;
}
.face2 .info_event {
  padding: 10px 20px;
  align-items: center;
}
.face2 .info_event h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 7px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 3.5rem;
}
.face2 .info_event p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 7px;
  line-height: 2rem;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
}
.face2 .dates {
  font-size: 1.3rem;
  margin: 20px 0px;
  align-items: center;
  text-align: center;
}
.button {
  margin-top: 15px;
}
.button a {
  text-decoration: none;
  color: #13233d;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.card:hover .face1 {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover .face2 {
  transform: perspective(600px) rotateY(0deg);
}

.img_mob {
  display: none;
}

.face1 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  transition: transform 0.6s linear;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.65);
}
.face1 img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .card {
    width: 400px;
  }

  .img_desk {
    display: none;
  }
  .img_mob {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .card-container {
    width: 100vw;
  }
  .events-container {
    margin-top: 15rem;
  }
  .heading h1 {
    font-size: 7rem;
    font-weight: 900;
    margin-top: 3rem;
    margin-left: 0rem;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .heading h1 {
    font-size: 4rem;
    font-weight: 900;
  }
  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 80vw !important;
    height: 18rem !important;
  }
  .face2 .info_event h1 {
    font-size: 2rem;
  }
  .face2 .info_event p {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
  .button {
    margin: 0px;
  }
  .button a {
    padding: 10px 20px;
  }
}
