* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  height: 6rem;
  background-color: #061125;
  width: 93%;
  margin: 0;
}
.heading h1 {
  font-size: 5.5rem;
  padding-top: 1rem;
  margin-left: 3rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.card-container {
  padding-top: 5%;
  height: 90vh;
  background-color: #061125;
  width: 93%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 0;
}
.card {
  width: 613px;
  height: 287px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
}
.card:nth-child(3) {
  width: 450px;
  height: 302px;
}
.card:nth-child(4) {
  width: 450px;
  height: 302px;
}
.card:nth-child(5) {
  width: 450px;
  height: 302px;
}
.face1 {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  transition: transform 0.6s linear;
  backface-visibility: hidden;
  overflow: hidden;
}
.face1 img {
  height: 100%;
  width: 100%;
}
.face2 {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  top: 0;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.6s linear;
  background: rgba(19, 35, 61, 1);
  color: aliceblue;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.face2 .info_event {
  padding: 10px 20px;
  align-items: center;
}
.face2 .info_event h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;

  width: 100%;
  padding: 7px;
  text-align: center;
  margin-bottom: 15px;
}
.face2 .info_event p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 7px;
  line-height: 1.3rem;
  letter-spacing: 1.5px;
}
.face2 .dates {
  font-size: 1.3rem;
  margin: 20px 0px;
  align-items: center;
  text-align: center;
}
.button {
  margin-top: 40px;
  margin-bottom: 10px;
}
.button a {
  text-decoration: none;
  color: #13233d;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 30px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.card:hover .face1 {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover .face2 {
  transform: perspective(600px) rotateY(0deg);
}
